# jellyfin.container
[Unit]
Description=Jellyfin Media Server
# This is a custom service to ensure the network is online before starting rootless services.
After=network-online.service
[Container]
AddDevice=/dev/dri/:/dev/dri/
AutoUpdate=registry
ContainerName=jellyfin
Group=1001
Image=docker.io/jellyfin/jellyfin:latest
PublishPort=8096:8096/tcp
User=1001
UserNS=keep-id
Volume=jellyfin-cache:/cache:Z
Volume=jellyfin-config:/config:Z
Volume=/home/jellyfin/media:/media:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
Wants=network-online.service
